body{
    background-color: #fafbfa;
    display: grid;
    grid-template-rows: 1fr 0.2fr 100% 0.2fr;
    grid-template-areas: 
        "header"
        "em"
        "main"
        "footer";
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 0;
}
/*---------header part---------*/
header{
    grid-area:header;
    display: grid;
    grid-template-rows: 2.5rem 5rem 5rem;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "logo header"
    "logo header"
    "logo menubar";
}
header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*1.1 logo part*/
header .logo{
    grid-area:logo;

    width: 10rem;
    height: 10rem;
    place-self: center;
    margin-right: 10rem;
}
/*1.2 title part*/
.title {
    grid-area: header;
    color: #078a79;
    font-size: 3rem;
    font-weight: 700;
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 0;
    align-self: flex-end;
}
.title >span{
    color: #8f6034;
}
/*1.3 menu part*/
.menubar > ul{
    display:flex;
    flex-direction: row;
    font-size: larger;
}
.menu > li{
    padding-right: 1rem;
    position: relative;
}
/*1.3.1 submenu part*/
.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    top: 2rem;
    
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: #078a79;
    transition: max-height 3s;
}
/*1.3.1 button part*/
.menu button{
    background-color: #078a79;
    border: 0;
    font: inherit;
    color:#270f18;
}
.menu a{
    text-decoration: none;
}
.submenu a{
    display: inline-block;
    width:  100%;
    padding: 0.25rem 0.5rem;
    text-decoration:none;
    color:#270f18;
}
.submenu a:hover{
    background-color: #8f6034;
    color: #fafbfa;
    max-height: 90vh;
    text-decoration: underline;
}
.menu > li:focus-within .submenu,
.menu > li:hover .submenu{
    text-decoration: underline;
    max-height: 90vh;
    width: max-content;
    visibility: visible; 
}
/*1.1.header media*/
@media (min-device-width:600px) and (max-device-width:1200px){
    header{
        grid-area:header;
        display: grid;
        grid-template-rows: 5rem 5rem;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        " logo header"
        " logo menubar";
    }
    header .logo{
        margin-right: 3rem;
    }
}
@media (max-device-width:600px){
    header{
        grid-area:header;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "logo menubar"
        
    }
    
    header .logo{
        width: 100px;
        height: 100px;
        align-self: center;
        margin-right:0;
    }
    .title {
        display: none;
    }
    .menu button{
        background-color: #fafbfa;
    }
    .submenu li a span{
        display: none;
    }
    .submenu{
        display: flex;
        flex-direction: row;
    }
    .submenu a:hover{
        background-color: #078a79;
        text-decoration: underline;
    }
    .menu button a span{
        display: none;
    }
    .menu{
        justify-content: space-around;
    }
    .menubar{
        align-self: center;
        justify-self: stretch;
    }
    
}
@media (min-width:600px) and (max-width:1200px){
    header{
        grid-area:header;
        display: grid;
        grid-template-rows: 5rem 5rem;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        " logo header"
        " logo menubar";
    }
    header .logo{
        margin-right: 3rem;
    }
}
@media (max-width:600px){
    header{
        grid-area:header;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "logo menubar"
        
    }
    
    header .logo{
        width: 100px;
        height: 100px;
        align-self: center;
        margin-right:0;
    }
    .title {
        display: none;
    }
    .menu button{
        background-color: #fafbfa;
    }
    .submenu li a span{
        display: none;
    }
    .submenu{
        display: flex;
        flex-direction: row;
    }
    .submenu a:hover{
        background-color: #078a79;
        text-decoration: underline;
    }
    .menu button a span{
        display: none;
    }
    .menu{
        justify-content: space-around;
    }
    .menubar{
        align-self: center;
        justify-self: stretch;
    }
    
}

/*---------body part---------*/
main{
    --gap:16px;
    --num-cols:4;
    --row-height:300px;

    grid-area:main;
    background-color: #078a79;

    padding:2rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}
/*1.image-grid */
.image-grid{   
    box-sizing:border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.image-grid-col-2{
    grid-column: span 2;
}
.image-grid-row-2{
    grid-row: span 2;
}
/*2.image wrapper*/
.img-wrapper{
    padding: 0;
    display: inline-block; 
    overflow: hidden;
    position: relative;
    border-radius: 6%;
}
.photo:hover{
    transform: perspective(1000px);
    transition: 0.5s ease-in; 
    transform: scale(1.15)
}
/*3.image*/
.photo{
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: all .2s ease;
}
/*4.footnote*/
.footnote{
    color: white;
    font-weight: 700;

    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-wrapper:hover .footnote{
    list-style: none;
    transition: 0.7s;
    visibility: visible;
    opacity: 1;
} 
/*1.grid media*/
@media (min-width:600px) and (max-width:1024px){
    .image-grid{
        --gap:10px;
        --num-cols:2;
        --row-height: 250px;
    }
    .img-wrapper{
        padding: 0;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        border-radius: 4%;
    }
}
@media (min-width:360px) and (max-width:600px){
    .image-grid{
        --gap:4px;
        --num-cols:1;
        --row-height: 200px;
    }
    .img-wrapper{
        padding: 0;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        border-radius: 1%;
    }
}
@media (min-device-width:600px) and (max-device-width:1024px){
    .image-grid{
        --gap:10px;
        --num-cols:2;
        --row-height: 250px;
    }
    .img-wrapper{
        padding: 0;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        border-radius: 4%;
    }
}
@media (min-device-width:360px) and (max-device-width:600px){
    .image-grid{
        --gap:4px;
        --num-cols:1;
        --row-height: 200px;
    }
    .img-wrapper{
        padding: 0;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        border-radius: 1%;
    }
}
/*---------footer part---------*/
footer{
    grid-area:footer;

    background-color: #fafbfa;
    font-size: smaller;
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    
}
footer > ul{
    margin-top: 0;
    margin-bottom: 0;

    align-self: center;
}
footer .logo{
    width: 3rem;
    height: 3rem;

    place-self: center;  
}
footer .contact{
    width: 12rem;
    height: 3rem;
    padding-left: 0;

    align-self: center;
}


